@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Monoton&display&display=swap');
* {padding: 0;margin: 0;outline: none;box-sizing: border-box;}

html,body {background-color: #f4f6fa;font-family: 'Roboto', sans-serif;font-size: 14px;color: #535a57;}
a {text-decoration: none;cursor: pointer;color: #515365;transition: all ease .2s;}
a:hover {transition: all ease .2s; color: #AC5B82;}

/* BUTTON */
.btn { padding: 9px 29px; border: 0; border-radius: 5px; background-color: #AC5B82; color: #FFF; font-size: 14px; font-weight: 400; cursor: pointer;transition: all ease .2s; }
.btn:hover {background-color: #b95d89;transition: all ease .2s;}
.btn:focus {opacity: .9;}
.btn-primary {margin-top: 15px;width: 100%;padding: 12px;}

/* BACKGROUND */
.wrapper { background-image: url("../img/bg.jpg"); background-color: #cccccc; min-height: 100vh; background-position: center; background-repeat: no-repeat; background-size: cover; }
.flexcenter { display: flex; align-items: center; }
.flexcenter-left {min-height: 100vh;}
.flexcenter-right { justify-content: center; }

/* ABOUT */
.about { display: flex; flex-direction: column; color: #FFF;margin-left: 70px; }
.about__title { font-family: 'Monoton', sans-serif; font-weight: 400; font-size: 40px; }
.about__dot { color: #000; }

/* PANELS */
.login {display: block;}
.register {display: none;}
.restore {display: none;}

/* AUTH FORM */
.auth { background-color: #FFF; padding: 35px; box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 5%); border-radius: 15px; width: 400px;}
.auth__title { font-weight: 400; text-transform: uppercase;}
.auth__text {margin-top: 13px;margin-bottom: 13px;}
.form__control {margin-top: 35px;display: flex;justify-content: space-between;}
.form__link {margin-top: 15px;}
.checkbox {display: flex;align-items: center;}
.checkbox label {margin-left: 5px;}

	/* INPUT CSS */
	.form__group {position: relative;padding: 12px 0 0;margin-top: 13px;width: 100%;}
	.form__input { font-family: inherit; width: 100%; border: 0; border-bottom: 2px solid #9b9b9b; outline: 0; font-size: 15px; font-weight: 400; color: #515365; padding: 12px 0; background: transparent; transition: border-color 0.2s; }
	.form__input::placeholder { color: transparent; }
	.form__input:placeholder-shown ~ .form__label { font-size: 14px; cursor: text; top: 25px; }
	.form__label { position: absolute; top: 0; display: block; transition: 0.2s; font-size: 1rem; color: #9b9b9b; }
	.form__input:focus { padding-bottom: 12px; font-weight: 400; border-width: 3px; border-image: linear-gradient(to right, #AC5B82, #D4A9A0); border-image-slice: 1; }
	.form__input:focus ~ .form__label { position: absolute; top: 0; display: block; transition: 0.2s; font-size: 1rem; color: #813467; font-weight: 700; }

	/* reset input */
	.form__input:required, .form__input:invalid { box-shadow: none; }

@media screen and (max-width: 992px) {
	.flexcenter-left {min-height: 150px;justify-content: center;}
	.about {text-align: center;margin-left: 0;}
	.about__text {display: none;}
}
@media screen and (max-width: 576px) {
	.flexcenter-right {padding: 0;}
	.auth {width: 100%;height: 100%;border-radius: 0;}
}